@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #292A2D;
  font-family: 'Lexend Deca', sans-serif;
}

.image-flip {
  transform: scaleX(-1);
}

.box-shadow {
  box-shadow: 3px 3px 18px #121212;
}

.custom-min-height-sm {
  min-height: 420px;
}

.height-cust {
  height: 500px;
}

.custom-height {
  height: 75vh;
}

.custom-max-width {
  max-width: 128px;
}

.max-width-cust {
  max-width: 1280px;
}

@media screen and (min-width: 640px) {
  .custom-height {
    height: 85vh;
  }
}

@media screen and (min-width: 768px) {
  .height-cust {
    height: 450px;
  }
}